@tailwind base;
@tailwind components;
@tailwind utilities;


.button {
  transition: background-color 0.5s ease;
}

.button-active {
  background-color: #fcf7e7; /* Replace with your active color */
}
.image-container {
  position: relative;
}

.image-container {
    position: relative;
}

.image-container::after {
  content: '';
  position: absolute;
  bottom: 0; /* Align with the bottom */
  left: 0;
  right: 0;
  height: 50%; /* Height of the gradient effect */
  background: radial-gradient(
      farthest-side at 50% 100%, 
      transparent, 
      #000 100%,
  );
  /* Adjust the color to match your background */
}